In [18]:
import pandas as pd

# Load the datasets (update file names if needed)
trader = pd.read_csv("historical_data.csv")  # Replace with actual file name
sentiment = pd.read_csv("fear_greed_index.csv")  # Replace with actual file name

In [4]:
pwd

'C:\\Users\\ADMIN\\Desktop\\Internship'

In [19]:
print("Trader Data:")
trader.head()

Trader Data:

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [20]:
print("Sentiment Data:")
sentiment.head()

Sentiment Data:

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [23]:
# Convert 'Timestamp IST' in trader_data to datetime
trader['Timestamp IST'] = pd.to_datetime(trader['Timestamp IST'], format='%d-%m-%Y %H:%M')
trader['date_only'] = trader['Timestamp IST'].dt.date


# Convert 'date' in sentiment_data to datetime
sentiment['date'] = pd.to_datetime(sentiment['date']).dt.date


# Preview cleaned columns
print("Trader Data with Clean Date:")
trader[['Timestamp IST', 'date_only']].head()

print("Sentiment Data with Clean Date:")
sentiment[['date', 'classification']].head()

 Trader Data with Clean Date:

📅 Sentiment Data with Clean Date:

         date classification
0  2018-02-01           Fear
1  2018-02-02   Extreme Fear
2  2018-02-03           Fear
3  2018-02-04   Extreme Fear
4  2018-02-05   Extreme Fear

## Total merged records

In [35]:
merged_df = pd.merge(trader, sentiment, left_on='date_only', right_on='date', how='inner')


print(f"\n Total merged rows: {len(merged_df)}")

 Total merged rows: 211218

In [33]:
print("Merged Data Sample:")
merged_df[['Account', 'Coin', 'Closed PnL', 'Side', 'Timestamp IST', 'classification']].head()

Merged Data Sample:

,Account,Coin,Closed PnL,Side,Timestamp IST,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,0.0,BUY,2024-12-02 22:50:00,Extreme Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,0.0,BUY,2024-12-02 22:50:00,Extreme Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,0.0,BUY,2024-12-02 22:50:00,Extreme Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,0.0,BUY,2024-12-02 22:50:00,Extreme Greed
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,0.0,BUY,2024-12-02 22:50:00,Extreme Greed

In [34]:
print(f"\n Total merged rows: {len(merged_df)}")

 Total merged rows: 211218

## Average closed PnL in Fear vs Greed

In [32]:
avg_pnl = merged_df.groupby('classification')['Closed PnL'].mean()

print("Average Profit/Loss during Sentiment:")

avg_pnl

Average Profit/Loss during Sentiment:

classification
Extreme Fear     34.537862
Extreme Greed    67.892861
Fear             54.290400
Greed            42.743559
Neutral          34.307718
Name: Closed PnL, dtype: float64